<h1>
    Socialise / <%= title %>
</h1>

<a href="/users/sign-in">signin</a>
<a href="/users/sign-up">signup</a>


<section id="feed-posts">
    <h4>Posts</h4>
    <form action="" method="post">
        <textarea name="content" id="" cols="30" rows="3" placeholder="type here"></textarea>
        <input type="submit" value="post">
    </form>
</section>