<link rel="stylesheet" href="/css/home.css">
<h1>
    Lets Socialise!
</h1>


<section id="feed-posts">
    <% if(locals.user){%>
        <h4>Be Social Do Post</h4>
        <form action="/users/posts/createpost" method="post">
            <textarea name="content" id="" cols="30" rows="3" placeholder="type here"></textarea>
            <input type="submit" value="post">
        </form>

        <div class="posted-posts ">
            <h2>your posts</h2>
            <ul>
                <% post.forEach(myFunction) %>
                    <% function myFunction(item, index){%>
                        <li>
                            <p><%= item.user.name %></p>
                            <p><%= item.content %></p>
                            
                        </li>
                        <%}%>
            </ul>
        </div>
        <% }%>
</section>